body {
  background-color: black;
  width: 100%;
  height: 100%;
}
/*  
.target {
  position: relative;
}
.target img {
  position: relative;
  top: -70px;
  left: -70px;
}
.target p {
  color: #fff;
  position: absolute;
  font-size: 20px;
  top: -70px;
}
.horizon {
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
}
.vertical {
  width: 1px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
}  */

.line {
  position: absolute;
  background-color: #fff;
}

.horozontal {
  width: 100%;
  height: 1px;
  top: 50%;
}
.vertical {
  height: 100%;
  width: 1px;
  left: 50%;
}

.target {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tag {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20px, 20px);
  font-size: 38px;
}
