body {
  background-color: rgb(201, 216, 216);
  margin: 0;
}
.container {
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  width: 80%;
}
header {
  background-color: rgb(172, 172, 228);
  line-height: 50px;
}
h1 {
  margin: 0;
  font-size: 20px;
}
ul {
  margin: 0;
}
section {
  height: 600px;
  overflow: auto;
  background-color: #fff;
}
section .list {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
section i {
  transition: all 300ms ease-in;
}
section i:hover {
  color: red;
  transform: scale(1.1);
}
footer input {
  width: 100%;
  height: 26px;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid;
}
footer button {
  background-color: rgb(172, 172, 228);
  width: 100%;
  border: 0;
  line-height: 50px;
  cursor: pointer;
}
i {
  cursor: pointer;
}
.fa-plus {
  padding: 10px;
  border: 1px solid;
  border-radius: 100%;
  background-color: #fff;
}
